p {
    color: navy;
}

p.info {
    font-size: small;
    background-color: #dfdfdf;
}

h1 {
    background-color: #7f7fcf;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, white, #ffefaf);
    padding: 10px;
    border-radius: 5px;
}

div#zentai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.grid-item {
    background-color: #ffefaf;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}

img.sign {
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

